{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('assets/img/todolist_content.jpg') }}"
                           alt="todo list">{% endblock %}

{% block body %}
	<a href="{{ path('task_create') }}" class="btn btn-info pull-right">Create a task</a>
	<div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
		{% for task in tasks %}
			<div class="col mb-3">
				<div class="card h-100" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
						</h5>
						<h6 class="card-subtitle mb-2 text-body-secondary">Created
							by: {{ task.user.username | default('Anonymous') }}</h6>
						<p class="card-text">{{ task.content }}</p>
					</div>
					<div class="card-footer mb-0">
						<a href="{{ path('task_delete', {'id' : task.id }) }}"
						   class="btn btn-danger btn-sm">Delete</a>
						<a href="#" class="btn btn-success btn-sm">Done</a>
					</div>
				</div>
			</div>

		{% else %}
			<div class="alert alert-warning mt-3" role="alert">
				There are no tasks yet.
			</div>
		{% endfor %}
	</div>
{% endblock %}
