{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-4">
		<div class="btn-group d-flex justify-content-center mb-4" role="group" aria-label="Task Status">
			<a href="{{ path('task_list', {'status': 'todo'}) }}"
			   class="btn {{ status == 'todo' ? 'btn-warning' : 'btn-outline-warning text-dark' }} rounded">Show Tasks To Do</a>
			<a href="{{ path('task_list', {'status': 'done'}) }}"
			   class="btn {{ status == 'done' ? 'btn-warning' : 'btn-outline-warning text-dark' }} rounded">Show completed
				tasks</a>
		</div>

		<div class="pagination d-flex justify-content-between mb-3">
			{% if currentPage > 1 %}
				<a class="btn btn-primary" href="{{ path('task_list', {'page': currentPage - 1, 'status': status}) }}"><<
					Previous</a>
			{% else %}
				<button class="btn btn-primary disabled"><< Previous</button>
			{% endif %}
			<span class="page-number">Page {{ currentPage }} of {{ totalPages }}</span>
			{% if currentPage < totalPages %}
				<a class="btn btn-primary" href="{{ path('task_list', {'page': currentPage + 1, 'status': status}) }}">Next
					>></a>
			{% else %}
				<button class="btn btn-primary disabled">Next >></button>
			{% endif %}
		</div>
		<div class="list-group">
			{% for task in tasks %}
				{% set deadlineClass = '' %}
				{% set deadline = task.deadline|date('Y-m-d') %}
				{% set today = "now"|date('Y-m-d') %}
				{% set tomorrow = "now"|date_modify('+1 day')|date('Y-m-d') %}

				{% if deadline == today %}
					{% set deadlineClass = 'list-group-item-danger' %}
				{% elseif deadline == tomorrow %}
					{% set deadlineClass = 'list-group-item-warning' %}
				{% else %}
					{% set deadlineClass = 'list-group-item-success' %}
				{% endif %}

				<div class="list-group-item {{ deadlineClass }} mb-2 rounded">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1"><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h5>
						<small style="font-style: italic">
							<strong>Deadline: {{ task.deadline|date('Y-m-d') }}</strong>
						</small>
						<div class="btn-group" role="group">
							{% if task.isDone == false %}
								<a href="{{ path('task_toggle', {id: task.id}) }}" class="btn btn-success btn-sm rounded">
									<i class="fa-solid fa-circle-check"></i> Done
								</a>
							{% else %}
								<a href="{{ path('task_toggle', {id: task.id}) }}" class="btn btn-warning btn-sm rounded">
									<i class="fa-regular fa-circle-check"></i> To Do
								</a>
							{% endif %}
							<a href="{{ path('task_delete', {id: task.id}) }}" class="btn btn-danger btn-sm rounded">
								<i class="fas fa-trash"></i> Delete
							</a>
						</div>
					</div>
					<p class="mb-1">{{ task.content }}</p>

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
