<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>To Do List app</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link href="{{ asset('assets/css/shop-homepage.css') }}" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>

<body>
<nav class="navbar navbar-light bg-light sticky-top fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">To Do List app</a>
			<img src="{{ asset('assets/img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
		</div>
	</div>
	<div class="container mt-3 mb-3">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}"
				   href="{{ path('homepage') }}">Home Page</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'task_create' %}active{% endif %}"
					   href="{{ path('task_create') }}">Add a task</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'task_list' %}active{% endif %}"
					   href="{{ path('task_list') }}">Tasks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'user_edit' %}active{% endif %}"
					   href="{{ path('user_edit', {'id' : app.user.id}) }}">My Profile</a>
				</li>
			{% endif %}

			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'admin_user_list' %}active{% endif %}"
					   href="{{ path('admin_user_list') }}">View users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-outline-secondary {% if app.request.attributes.get('_route') == 'admin_user_create' %}active{% endif %}"
					   href="{{ path('admin_user_create') }}">Create user</a>
				</li>
			{% endif %}
		</ul>
		{% if not app.user %}
			<a class="nav-link btn btn-outline-primary {% if app.request.attributes.get('_route') == 'login' %}active{% endif %}"
			   href="{{ path('login') }}">Login</a>
		{% else %}
			<a class="nav-link btn btn-danger" href="{{ path('logout') }}">Logout</a>
		{% endif %}
	</div>
</nav>

<!-- Page Content -->
<div class="container">
	<div class="row mt-3">
		<div class="col-md-12">
			{% for flash_message in app.session.flashBag.get('success') %}
				<div class="alert alert-success" role="alert">
					{{ flash_message }}
				</div>
			{% endfor %}

			{% for flash_message in app.session.flashBag.get('error') %}
				<div class="alert alert-danger" role="alert">
					{{ flash_message }}
				</div>
			{% endfor %}

			{% for flash_message in app.session.flashBag.get('warning') %}
				<div class="alert alert-warning" role="alert">
					{{ flash_message }}
				</div>
			{% endfor %}

			{% block header_title %}{% endblock %}
			{% block header_img %}<img class="slide-image" src="{{ asset('assets/img/todolist_homepage.jpg') }}"
			                           alt="todo list">{% endblock %}
		</div>
	</div>

	<br/>

	<div class="row">
		<div class="col-md-12">
			{% block body %}{% endblock %}
		</div>
	</div>
</div>
<!-- /.container -->

<div class="container">

	<hr>
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p class="pull-right">Copyright &copy; OpenClassrooms</p>
			</div>
		</div>
	</footer>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>